.big-display-card {
  background-color: white;
  margin: 10px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.big-display-card__content {
  margin: 10px;
  padding: 20px;
  border-radius: 12px;
  background: #454AA6;
  z-index: 1;
  position: relative;
  top: 0;
  transition: left 1s;
  cursor: pointer;
}

.big-display-card__btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.big-display-card__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 30px;
  z-index: 0;
  opacity: 0;

}

.big-display-card__buttons__remind {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F6F3;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;

}

.big-display-card__buttons__text {
  margin: 0;
  margin-top: -10px;

}

.big-display-card__buttons__icon {
  color: goldenrod ;
  font-size: 20px;
  margin-top: -10px;
  margin-top: -5px;

}

.moveToRight {
  left: 150px;
  transition: left 1ms;
}

.showButtons {
  opacity: 1;
}


.bigcard-image {
  width: 91.73px;
  height: 81.2px;
  aspect-ratio: auto;
}

.big-display-card__title {
  width: 100%;
  left: 53px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}

.big-display-card__description {
  width: 100%;
  left: 53px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}