body {
  margin: 0;
  padding:0;
  width: 414px;
}

.logo-heading{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 100px;
  width: 150px;  
}


